
<link href="{{ asset('Achat/css/style.css') }}" rel='stylesheet' type='text/css' media="all" />
<style>
    *{
        text-align: left;
        margin: 5px;
        padding: 5px;
    }
    .ref{

    }
    table{
        text-align: center;
        background:lightgray;
    }
    th{
        text-align: center;
        padding: 10px;
        border-bottom: solid 1px black;
    }
</style>
    <h1 class="ref">Commande: cmd{{ commande.id }}</h1>

    <h2 class="client">Client: {{ user.username }}</h2>
    <h2 class="email">Email: {{ user.email }} </h2>
    <h2 class="address">Address: {{ commande.address }}</h2>
    <h2 class="tel">Tel: {{ commande.tel }}</h2>

    <table id="myTable">
        <thead>
        <tr>
            <th>    Nom produit </th>
            <th>    Prix par unite</th>
            <th>    Quantite </th>
        </tr>
        </thead>
        <tbody>
        {% set prixtotal = 0 %}
        {% for ligneCommande in ligneCommandes %}
                <tr class="lignecommande">
                    <td>{{ ligneCommande.nomproduit }}  </td>
                    <td> {{  ligneCommande.idproduit.prix   }}</td>
                    <td>{{ ligneCommande.quantite }}  </td>
                    {% set prixtotal = prixtotal + ligneCommande.idproduit.prix*ligneCommande.quantite %}

                </tr>

        {% endfor %}

        </tbody>
    </table>

    <div>
        <h3 id="prix total">
            Prix Total: {{ prixtotal }}
        </h3>
    </div>

