{% extends 'base.html.twig' %}

{% block body %}

    <link href="{{ asset('Achat/css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' media="all" />
    <link href="{{ asset( 'Achat/css/style.css') }}" rel="stylesheet" type="text/css" media="all">
    <div class="col-md-8">
   <h4> <a href="{{ path('commande_index') }}">< Liste des Commande</a></h4>

        <h1 class="ref">Commande: cmd{{ commande.id }}</h1>


        <h2 class="address">Address: {{ commande.address }}</h2>
        <h2 class="tel">Tel: {{ commande.tel }}</h2>

        {% for ligneCommande in ligneCommandes %}

                <div class="cart-header">

                    <div class="cart-sec simpleCart_shelfItem">
                        <div class="cart-item cyc">
                            <img src="{{ asset('Achat/images/tshirt.png') }}" class="img-responsive" alt="" width="100px" height="100px">
                        </div>
                        <div class="cart-item-info">
                            <h3>
                                <a href="#"> {{ ligneCommande.nomproduit }}</a>
                                {#                            <span>{{ lignePanier.product.descrip }}</span>#}
                            </h3>
                            <ul class="qty">
                                <li><p>Qty : {{ ligneCommande.quantite }} </p></li>
                                <li>
                                    {#                                <a href="{{ path('panier_increaseProductQTE', { 'id': lignePanier.id }) }}">#}
                                    {#                                    add 1#}
                                    {#                                </a>#}
                                </li>
                                <li>
                                    {#                                <a href="{{ path('panier_DecreaseProductQTE', { 'id': lignePanier.id }) }}">#}
                                    {#                                    remove 1#}
                                    {#                                </a>#}
                                </li>
                            </ul>

                            <div class="delivery">
                                <p>Service Charges : Rs.100.00</p>
                                <span>Delivered in 2-3 bussiness days</span>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>


        {% endfor %}

    </div>
{% endblock %}
{#{% extends 'index.html.twig' %}#}
