{% extends 'base.html.twig' %}

{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="show-top-grids">
        <div class="col-sm-10 show-grid-left main-grids">
            <div class="recommended">
                <div class="recommended-grids english-grid">
                    <div class="recommended-info">
                        <div class="heading">
                            <h3>Products</h3>
                        </div>
                        <div class="heading-right">
                            <a  href="#small-dialog8" class="play-icon popup-with-zoom-anim">Subscribe</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="single.html"><img src="{{ asset('images/prd.png') }}" alt="" /></a>
                            <div class="time small-time show-time movie-time">
                                <p>7:34</p>
                            </div>
                            <div class="clck movie-clock">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
                            <ul>
                                <li><p class="author author-info"><a href="#" class="author">Buy</a></p></li>
                                <li class="right-list"><p class="views views-info">2,114,200 views</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="single.html"><img src="{{ asset('images/prd.png') }}" alt="" /></a>
                            <div class="time small-time show-time movie-time">
                                <p>9:34</p>
                            </div>
                            <div class="clck movie-clock">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
                            <ul>
                                <li><p class="author author-info"><a href="#" class="author">Buy</a></p></li>
                                <li class="right-list"><p class="views views-info">2,114,200 views</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="single.html"><img src="{{ asset('images/prd.png') }}" alt="" /></a>
                            <div class="time small-time show-time movie-time">
                                <p>3:04</p>
                            </div>
                            <div class="clck movie-clock">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
                            <ul>
                                <li><p class="author author-info"><a href="#" class="author">Buy</a></p></li>
                                <li class="right-list"><p class="views views-info">2,114,200 views</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="single.html"><img src="{{ asset('images/prd.png') }}" alt="" /></a>
                            <div class="time small-time show-time movie-time">
                                <p>1</p>
                            </div>
                            <div class="clck movie-clock">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5><a href="single.html" class="title">T-Shirt TGT</a></h5>
                            <ul>
                                <li><p class="glyphicon glyphicon-shopping-cart"><a href="#" class="author">Buy</a></p></li>
                                <li class="right-list"><p class="views views-info">30Dt</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="recommended">
                <div class="recommended-grids">

                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="single.html"><img src="{{ asset('images/prd.png') }}" alt="" /></a>
                            <div class="time small-time show-time movie-time">
                                <p>2:34</p>
                            </div>
                            <div class="clck movie-clock">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
                            <ul>
                                <li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
                                <li class="right-list"><p class="views views-info">2,114,200 views</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="single.html"><img src="{{ asset('images/prd.png') }}" alt="" /></a>
                            <div class="time small-time show-time movie-time">
                                <p>3:45</p>
                            </div>
                            <div class="clck movie-clock">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
                            <ul>
                                <li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
                                <li class="right-list"><p class="views views-info">2,114,200 views</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="single.html"><img src="{{ asset('images/prd.png') }}" alt="" /></a>
                            <div class="time small-time show-time movie-time">
                                <p>7:34</p>
                            </div>
                            <div class="clck movie-clock">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
                            <ul>
                                <li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
                                <li class="right-list"><p class="views views-info">2,114,200 views</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="single.html"><img src="{{ asset('images/prd.png') }}" alt="" /></a>
                            <div class="time small-time show-time movie-time">
                                <p>6:30</p>
                            </div>
                            <div class="clck movie-clock">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
                            <ul>
                                <li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
                                <li class="right-list"><p class="views views-info">2,114,200 views</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="recommended">
                <div class="recommended-grids">
                    <div class="recommended-info">
                        <div class="heading">
                            <h3>Tickets</h3>
                        </div>
                        <div class="heading-right">
                            <a  href="#small-dialog8" class="play-icon popup-with-zoom-anim">Subscribe</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="single.html"><img src="{{ asset('images/tk.png') }}" alt="" /></a>
                            <div class="time small-time show-time movie-time">
                                <p>2:34</p>
                            </div>
                            <div class="clck movie-clock">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
                            <ul>
                                <li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
                                <li class="right-list"><p class="views views-info">2,114,200 views</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="single.html"><img src="{{ asset('images/tk.png') }}" alt="" /></a>
                            <div class="time small-time show-time movie-time">
                                <p>3:45</p>
                            </div>
                            <div class="clck movie-clock">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
                            <ul>
                                <li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
                                <li class="right-list"><p class="views views-info">2,114,200 views</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="single.html"><img src="{{ asset('images/tk.png') }}" alt="" /></a>
                            <div class="time small-time show-time movie-time">
                                <p>7:34</p>
                            </div>
                            <div class="clck movie-clock">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
                            <ul>
                                <li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
                                <li class="right-list"><p class="views views-info">2,114,200 views</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="single.html"><img src="{{ asset('images/tk.png') }}" alt="" /></a>
                            <div class="time small-time show-time movie-time">
                                <p>6:30</p>
                            </div>
                            <div class="clck movie-clock">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
                            <ul>
                                <li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
                                <li class="right-list"><p class="views views-info">2,114,200 views</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="recommended">
                <div class="recommended-grids">
                    <div class="recommended-info">
                        <div class="heading">
                            <h3>Recommanded</h3>
                        </div>
                        <div class="heading-right">
                            <a  href="#small-dialog8" class="play-icon popup-with-zoom-anim">Subscribe</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="single.html"><img src="{{ asset('images/tk.png') }}" alt="" /></a>
                            <div class="time small-time show-time movie-time">
                                <p>5:32</p>
                            </div>
                            <div class="clck movie-clock">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
                            <ul>
                                <li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
                                <li class="right-list"><p class="views views-info">2,114,200 views</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="single.html"><img src="{{ asset('images/tk.png') }}" alt="" /></a>
                            <div class="time small-time show-time movie-time">
                                <p>2:34</p>
                            </div>
                            <div class="clck movie-clock">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
                            <ul>
                                <li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
                                <li class="right-list"><p class="views views-info">2,114,200 views</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid movie-video-grid-left">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="single.html"><img src="{{ asset('images/tk.png') }}" alt="" /></a>
                            <div class="time small-time show-time movie-time">
                                <p>8:26</p>
                            </div>
                            <div class="clck movie-clock">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
                            <ul>
                                <li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
                                <li class="right-list"><p class="views views-info">2,114,200 views</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid movie-video-grid-right">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="single.html"><img src="{{ asset('images/prd.png') }}" alt="" /></a>
                            <div class="time small-time show-time movie-time">
                                <p>3:44</p>
                            </div>
                            <div class="clck movie-clock">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
                            <ul>
                                <li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
                                <li class="right-list"><p class="views views-info">2,114,200 views</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 show-grid-right">
            <h3>Filter by</h3>
            <div class="show-right-grids">
                <ul>
                    <li class="tv-img"><a href="#"><img src="{{ asset('images/mv.png') }}" alt="" /></a></li>
                    <li><a href="#">Type</a></li>
                </ul>
            </div>
            <div class="show-right-grids">
                <ul>
                    <li class="tv-img"><a href="#"><img src="{{ asset('images/mv.png') }}" alt="" /></a></li>
                    <li><a href="#">Size</a></li>
                </ul>
            </div>
            <div class="show-right-grids">
                <ul>
                    <li class="tv-img"><a href="#"><img src="{{ asset('images/mv.png') }}" alt="" /></a></li>
                    <li><a href="#">Prize</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
{% endblock %}