{% extends 'base2.html.twig' %}

{% block body %}
    <div class="card" style="text-align: -webkit-center; margin: 150px ; margin-right: auto;border: ridge;">
        <h1><b>{{ produit.nom }}</b></h1>
        <img src="{{produit.url}}"  style="width:20%">

        <div class="container">

            <p>
            <h4>
            <table>
                <tbody>
                <tr>
                    <th>Prix :</th>
                    <td>{{ produit.prix }}DT</td>
                </tr>
                <tr>
                    <th>Etat :</th>
                    <td>{{ produit.etat }}</td>
                </tr>
                <tr>
                    <th>Size :</th>
                    <td>{{ produit.size }}</td>
                </tr>
                <tr>


                </tr>

                </tbody>
            </table>
            </h4>
            </p>

        </div>
    </div>


    <ul>
        <li>
            <a href="{{ path('produit_index') }}">Back to the list</a>
        </li>


    </ul>
{% endblock %}
